<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="container">
    <header>

        <a href="/" title="На главную">WHAT2do</a>
        <input type="search" title="Type your problem here to find solution" />

    </header>
    <div class="content">

        <div class="left">
            <div class="left__content">
                <div>Menu</div>

                <p></p>
                <a href="/articles" title="To the article catalog">Article catalog</a>
                <p></p>
                <a href="/populararticles" title="To the most frequently watched articles">Common problems</a>
                <p></p>
                <a href="/thankus" title="You can thank us here">Ways to thank us</a>
            </div>
        </div>
        <div class="main">main page
            <p> </p>
            <p><h1>Here you will find a solution to your situation<h1></p>
                <p> </p>
                <p> </p>
                <p><h3>Click one of the articles below or use Search to start</h3></p>
                <p> </p>
                <p><h2><a href="/a1" title="To the a1 article">Article 1</a></h2></p>
                <p><h2>Article 2</h2></p>
                <p><h2>Article 3</h2></p>
                <p><h2>Article 4</h2></p>
        </div>
        <div class="right">right</div>
    </div>
    <footer>
        <div class="footer__content">
            <p>Contacts: {email}</p>
            <p>Copyright © {Autors}, What2do, 2024. Все права защищены.</p>
        </div>
    </footer>

</div>


<!--<h1 style="color: #5e9ca0; text-align: center;">Wellcome to <span style="color: #2b2301;">What2do!</span>&nbsp;</h1>-->
<!--<p>&nbsp;</p>-->
<!--<p>&nbsp;</p>-->
<!--<h2 style="color: #2e6c80;">Use search function to find a solution : SEARCH</h2>-->
<!--<h2>Or pick one of these most common ones:</h2>-->

<!--<ul>-->
<!--<li><strong class="class1">Article 1</strong></li>-->
<!--<li><strong>Article 2</strong></li>-->
<!--<li><strong>Article 3</strong></li>-->
<!--<li><strong>Article 4</strong></li>-->
<!--</ul>-->
<!--<hr />-->
<!--<h2>&nbsp;</h2>-->

</body>
</html>